.vs/ChatAppUI/FileContentIndex/0a5caaae-2d4e-438d-a274-c94479681b4c.vsidx
.vs/ChatAppUI/FileContentIndex/35694326-2fc9-46f3-9aea-6df8129cc909.vsidx
.vs/ChatAppUI/FileContentIndex/74088f8a-a78c-4120-a3d3-b15993efac85.vsidx
.vs/ChatAppUI/FileContentIndex/7736a421-d3fe-41f9-be54-d83aeb401e71.vsidx
.vs/ChatAppUI/v17/.suo
.vs/ChatAppUI/v17/DocumentLayout.backup.json
bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/ChatAppUI.dll
bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/ChatAppUI.exe
bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/vs.appxrecipe
bin/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.build.appxrecipe
bin/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.dll
bin/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.exe
bin/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.pdb
obj/Debug/net8.0-android/_Microsoft.Android.Resource.Designer.dll
obj/Debug/net8.0-android/ChatAppUI.AssemblyInfo.cs
obj/Debug/net8.0-android/ChatAppUI.AssemblyInfoInputs.cache
obj/Debug/net8.0-android/ChatAppUI.assets.cache
obj/Debug/net8.0-android/ChatAppUI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-android/designtime/build.props
obj/Debug/net8.0-android/libraryprojectimports.cache
obj/Debug/net8.0-android/mauiimage.outputs
obj/Debug/net8.0-android/R.txt
obj/Debug/net8.0-ios/iossimulator-x64/ChatAppUI.AssemblyInfo.cs
obj/Debug/net8.0-ios/iossimulator-x64/ChatAppUI.AssemblyInfoInputs.cache
obj/Debug/net8.0-ios/iossimulator-x64/ChatAppUI.assets.cache
obj/Debug/net8.0-ios/iossimulator-x64/ChatAppUI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-maccatalyst/maccatalyst-x64/ChatAppUI.AssemblyInfo.cs
obj/Debug/net8.0-maccatalyst/maccatalyst-x64/ChatAppUI.AssemblyInfoInputs.cache
obj/Debug/net8.0-maccatalyst/maccatalyst-x64/ChatAppUI.assets.cache
obj/Debug/net8.0-maccatalyst/maccatalyst-x64/ChatAppUI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/apphost.exe
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.AssemblyInfo.cs
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.assets.cache
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.csproj.CoreCompileInputs.cache
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.csproj.FileListAbsolute.txt
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.dll
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.genruntimeconfig.cache
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.pdb
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ChatAppUI.sourcelink.json
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/intermediatexaml/ChatAppUI.dll
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/intermediatexaml/ChatAppUI.pdb
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/mauiimage.outputs
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.cs
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.i.cs
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ProjectArchitectures.txt
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ref/ChatAppUI.dll
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/refint/ChatAppUI.dll
obj/Debug/net8.0-windows10.0.19041.0/win10-x64/XamlSaveStateFile.xml
